@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 217, 217, 217; /* uchicago-light-greystone for text */
  --background-start-rgb: 34, 34, 34; /* uchicago-dark-gray */
  --background-end-rgb: 26, 26, 26; /* uchicago-off-black for a subtle gradient or solid */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
  min-height: 100vh;
  font-family: var(--font-gotham); /* Default body font */
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #1A1A1A; /* uchicago-off-black or dark-gray */
}
::-webkit-scrollbar-thumb {
  background-color: #800000; /* uchicago-maroon */
  border-radius: 4px;
  border: 2px solid #1A1A1A; /* uchicago-off-black or dark-gray */
}
::-webkit-scrollbar-thumb:hover {
  background-color: #A00000; /* Lighter maroon on hover */
}

html {
  scrollbar-width: thin;
  scrollbar-color: #800000 #1A1A1A;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-eb-garamond);
}
